{% extends 'main.html' %}

{% block container %}

<div class="container">
    <h1>{{ products[0]['CompanyName'] }}'s Products</h1>

    <table>
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Quantity Per Unit</th>
            <th>Unit Price</th>
        </tr>

        {% for product in products %}
        <tr>
            <td>{{ product['ProductName'] }}</td>
            <td><a href="{{ url_for('category_info', category_id=product['CategoryId']) }}">{{ product['CategoryName'] }}</a></td>
            <td>{{ product['QuantityPerUnit'] }}</td>
            <td>{{ product['UnitPrice'] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}